:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-family: 'Avenir Next', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #000;
  color: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
.h1 {
  font-size: 3.2em;
  line-height: 0.9;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.display-1 {
  letter-spacing: 4px;
  font-size: 30px;
}

.display-3 {
  letter-spacing: 1px;
  font-size: 120px;
}

.display-4 {
  font-size: 160px;
  letter-spacing: -2px;
}

.w-\.6 {
  width: 60%;
  margin: 0 auto;
}
